
<br>
<div class="container">
        
    <h3>Employees</h3>
        
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Employee ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Dept</th>
              <th>City</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
          </tbody>
        </table>