<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Dashboard</h1>
        <p class="lead text-muted">Welcome {{ userName }}</p>
        <div *ngIf="profile == null">
          <p>You have not yet setup a profile, please add some info</p>
          <a routerLink="/profile/create-profile" class="btn btn-primary my-1">
            Create Profile
          </a>
        </div>
        <div *ngIf="profile != null">
          <!-- Dashboard Actions -->
          <app-actions></app-actions>

          <!-- Experience -->
          <div>
            <app-experience
              [experienceList]="profile.experience"
            ></app-experience>
          </div>
          <!-- Education -->
          <div>
            <app-education [educationList]="profile.education"></app-education>
          </div>
          <div style="margin-bottom: 60px">
            <button class="btn btn-danger">Delete My Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
