<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/profile/display-all-profiles"
      >Header - DevConnector</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mobile-nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobile-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile"> Developers </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="data === ''">
          <a class="nav-link" routerLink="/user/register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/login" *ngIf="data === ''"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/user/logout"
            *ngIf="data === 'loggedin'"
            >logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
